{% extends '::login.html.twig' %}
{% block title %}Contact{% endblock %}

{% block body %}

      <div class="wrapper">
            <div class="contact">
                <div class="widget">
                    <div class="title"><h6>Contact us</h6><div class="clear"></div></div>
                    <p>Fusce luctus libero porta eros molestie sed varius nulla pharetra. Praesent elementum convallis felis, et scelerisque ipsum ullamcorper sit amet. Fusce vitae diam dui. Phasellus non nulla nisi. Suspendisse interdum massa vulputate ligula fermentum id tempor eros dictum.</p>
                </div>
            </div>
     </div>
  {% endblock %}