{% extends '::login.html.twig' %}
{% block title %}Forgot password{% endblock %}

 {% block body %}
     <div class="form-register">
        <div class="registerLogo"><img src="{{ asset('assets/images/loginLogo.png') }}" alt="" /></div>



        <form id="usualValidate" class="form from-addUser" method="post" action="" novalidate="novalidate">
            <fieldset>
                <div class="widget">
                    <div class="title"><img src="{{ asset('assets/images/icons/dark/list.png') }}" alt="" class="titleIcon"><h6>Forgot password</h6></div>


                    {% for flashMessage in app.session.flashbag.get('notice') %}
                        <div style="margin-top: 0px" class="nNote nSuccess hideit">
                                <p><strong>SUCCESS: </strong>{{ flashMessage }}</p>
                        </div>
                    {% endfor %}

                    {% for flashMessage in app.session.flashbag.get('error') %}
                        <div style="margin-top: 0px" class="nNote nFailure hideit">
                                <p><strong>Error: </strong>{{ flashMessage }}</p>
                        </div>
                    {% endfor %}

                    <div class="formRow">
                        <label for="firstName">Email<span class="req">*</span></label>
                        <div class="formRight"><input type="text" name="email"  required="required" class="validate[required]" id="email" />
                            <label class="is-firstname error"></label>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="formSubmit"><input id="button-addUser" type="submit" value="submit" class="redB"></div>
                  <div class="clear"></div>
                </div>
            </fieldset>
        </form>
 {% endblock %}
