{% if notifications %}
    <ul>
        {% for notification in notifications %}
            <li><a class="ajax-request-btn" href="{{ path('_project_issues', { 'id': notification.getIssueId() , 'project_id': notification.getProjectId() }) }}">{{ notification.getText() }}</a></li>
        {% endfor %}
        <li><a href="{{ path('_notificationsView_All') }}">View All</a></li>
    </ul>
{% else %}
    <ul>
        <li><a href="{{ path('_notificationsView_All') }}">View All</a></li>
    </ul>
{% endif %}
