<div  class="selector">
    <select class="select-box" class="valids" name="account[city]">
    {% for city in citys %}
        <option {% if city_id == city.getId() %}  selected="selected" {% endif %}  value="{{ city.getId() }}">{{ city.getName() }}</option>
    {% endfor %}
</select>
</div>
