{% extends '::layoutmain.html.twig' %}

{% block title %}Projects{% endblock %}

{% block Breadcrumb %}
    <h5>Projects manager</h5>
    <span>Do your layouts deserve better than Lorem Ipsum.</span>
{% endblock %}

{% block body %}
    <div class="wrapper">
        <a href="{{ path('_addIssues' , { 'id': id }) }}" title="" class="wButton bluewB ml15 m10"><span>Add Issues</span></a>

        <div class="line"></div>
    </div>
{% endblock %}