<div class="category">
    <input type="text" name="name"  class="name_category_{{ category_task.getId() }}" value="{{ category_task.getName() }}" id="name_category_task" />
    <a class="button blueB" onclick="save_edit_category({{ category_task.getId() }})" href="javascript:void(0);">Update</a> or <a onclick="close_edit_category({{ category_task.getId() }})"  href="javascript:void(0);" >Cancel</a>
</div>